{% extends "sidebar_layout.html" %}

{% block sidebar_content %}
  <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
    <nav class="nav nav-pills flex-column">

      <!-- 公募基金 -->
      <a class="nav-link disabled"><strong>公募基金</strong></a>
      <nav class="nav nav-pills flex-column ms-3">
        <a class="nav-link disabled">产品类型</a>
        <nav class="nav nav-pills flex-column ms-3">
          <a class="nav-link {% if request.endpoint == 'main.products_funds_fof' or request.endpoint.startswith('main.products_funds_fof_') %}active{% endif %}" href="{{ url_for('main.products_funds_fof') }}">养老FOF</a>
          <a class="nav-link {% if request.endpoint == 'main.products_funds_indexfunds' or request.endpoint.startswith('main.products_funds_indexfunds_') %}active{% endif %}" href="{{ url_for('main.products_funds_indexfunds') }}">指数基金</a>
          <a class="nav-link {% if request.endpoint == 'main.products_funds_enhanced' or request.endpoint.startswith('main.products_funds_enhanced_') %}active{% endif %}" href="{{ url_for('main.products_funds_enhanced') }}">指数增强基金</a>
        </nav>
      </nav>
      <nav class="nav nav-pills flex-column ms-3">
        <a class="nav-link disabled">基金研究</a>
        <nav class="nav nav-pills flex-column ms-3">
          <a class="nav-link {% if request.endpoint == 'main.products_funds_research_indices' or request.endpoint.startswith('main.products_funds_research_indices_') %}active{% endif %}" href="{{ url_for('main.products_funds_research_indices') }}">基准指数</a>
          <a class="nav-link {% if request.endpoint == 'main.products_funds_research_managers' or request.endpoint.startswith('main.products_funds_research_managers_') %}active{% endif %}" href="{{ url_for('main.products_funds_research_managers') }}">基金经理</a>
          <a class="nav-link {% if request.endpoint == 'main.products_funds_research_management' or request.endpoint.startswith('main.products_funds_research_management_') %}active{% endif %}" href="{{ url_for('main.products_funds_research_management') }}">基金公司</a>
        </nav>
      </nav>

      <!-- 银行理财 -->
      <a class="nav-link disabled"><strong>银行理财</strong></a>
      <nav class="nav nav-pills flex-column ms-3">
        <a class="nav-link {% if request.endpoint == 'main.products_bank_list' or request.endpoint.startswith('main.products_bank_list_') %}active{% endif %}" href="{{ url_for('main.products_bank_list') }}">产品列表</a>
        <a class="nav-link {% if request.endpoint == 'main.products_bank_orgs' or request.endpoint.startswith('main.products_bank_orgs_') %}active{% endif %}" href="{{ url_for('main.products_bank_orgs') }}">相关机构</a>
        <a class="nav-link {% if request.endpoint == 'main.products_bank_history' or request.endpoint.startswith('main.products_bank_history_') %}active{% endif %}" href="{{ url_for('main.products_bank_history') }}">历史数据</a>
      </nav>

      <!-- 商业养老保险 -->
      <a class="nav-link disabled"><strong>商业养老保险</strong></a>
      <nav class="nav nav-pills flex-column ms-3">
        <a class="nav-link {% if request.endpoint == 'main.products_insurance_list' or request.endpoint.startswith('main.products_insurance_list_') %}active{% endif %}" href="{{ url_for('main.products_insurance_list') }}">产品列表</a>
        <a class="nav-link {% if request.endpoint == 'main.products_insurance_companies' or request.endpoint.startswith('main.products_insurance_companies_') %}active{% endif %}" href="{{ url_for('main.products_insurance_companies') }}">保险公司介绍</a>
        <a class="nav-link {% if request.endpoint == 'main.products_insurance_terms' or request.endpoint.startswith('main.products_insurance_terms_') %}active{% endif %}" href="{{ url_for('main.products_insurance_terms') }}">条款解读</a>
      </nav>

      <!-- 储蓄存款 -->
      <a class="nav-link disabled"><strong>储蓄存款</strong></a>
      <nav class="nav nav-pills flex-column ms-3">
        <a class="nav-link {% if request.endpoint == 'main.products_deposits_list' or request.endpoint.startswith('main.products_deposits_list_') %}active{% endif %}" href="{{ url_for('main.products_deposits_list') }}">产品列表</a>
        <a class="nav-link {% if request.endpoint == 'main.products_deposits_types' or request.endpoint.startswith('main.products_deposits_types_') %}active{% endif %}" href="{{ url_for('main.products_deposits_types') }}">定期/活期介绍</a>
        <a class="nav-link {% if request.endpoint == 'main.products_deposits_rates' or request.endpoint.startswith('main.products_deposits_rates_') %}active{% endif %}" href="{{ url_for('main.products_deposits_rates') }}">利率比较</a>
      </nav>

    </nav>
  </nav>
{% endblock %}
